# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js modules
node_modules

# Build and distribution directories
dist
dist-ssr

# Local environment files
*.local
.env
.env.local
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backup files
*.bak

# Compiled TypeScript build info
tsconfig.tsbuildinfo

# Build cache or output
.cache/
build/

# Dependency directories
node_modules/
